{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 

{% block content %}
<!-- Title -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>My Health Update</h1>
        </div>
    </div>
</div>
<!-- Update Form -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto text-center p-3">
            <form method="post" style="margin-top: 1.3em;">
                {{ update_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </form>
        </div>
    </div>
    <!-- Navigation Button -->
    <div class="container text-center">
        <a href="{% url 'HealthHub:health_hub' %}" class="btn btn-secondary">Back</a>
    </div>
</div>
{% endblock content %}