{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Latest Health Stats -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>My Health Summary</h1>
        </div>
    </div>
</div>
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
        <h3>Welcome {{ user }}!</h3>
        <p>Please see below for your latest stats:</p>
        <table class="table table-bordered">
            <tr>
                <td><strong>Weight (lbs):</strong> <br>{{ weight }}</td>
                <td><strong>Run Distance (km):</strong> <br>{{ run_distance }} km</td>
            </tr>
            <tr>
                <td><strong>Run Time (HH:MM:SS):</strong> <br>{{ run_time }}</td>
                <td><strong>Last Updated:</strong> <br>{{ date }}</td>
            </tr>
        </table>
    </div>
    </div>
    <!-- Navigation Buttons -->
    <div class="row justify-content-center d-grid gap-3">
        <a href="{% url 'HealthHub:health_hub_history' %}"><button class="btn btn-primary btn-lg">View my Health
                History</button></a>
        <a href="{% url 'HealthHub:health_hub_update' %}"><button class="btn btn-success btn-lg">Update my
                Stats</button></a>
        <a href="{% url 'HealthHub:home' %}"><button class="btn btn-secondary btn-lg">
                Home</button></a>
    </div>
</div>
{% endblock content %}