{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>My Health Summary</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <h3>Welcome {{ user }}!</h3>
        <p>Please see below for your latest stats:</p>
        <table class="table table-bordered">
            <tr>
                <td>Weight(lbs): {{ weight }}</td>
                <td>Run Distance: {{ run_distance }} km</td>
            </tr>
            <tr>
                <td>Run Time: {{ run_time }}</td>
                <td>Last Updated: {{ date }}</td>
            </tr>
        </table>


    </div>
    <div class="row justify-content-center d-grid gap-3">
        <a href="{% url 'HealthHub:health_hub_history' %}"><button class="btn btn-primary btn-lg">View my Health
                History</button></a>
        <a href="{% url 'HealthHub:health_hub_update' %}"><button class="btn btn-primary btn-lg">Update my
                Stats</button></a>
    </div>
</div>
{% endblock content %}