{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center py-4 my-4 bg-info bg-gradient rounded-pill text-white">
            <h1>Welcome to Your Health Now, where you can log and track your weight and run stats.</h1>
            <p class="text-white"> Read below for some helpful articles about the benefits of exercise.</p>
        </div>
    </div>
</div>

{% for article in articles %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center py-4 my-4 bg-info bg-gradient rounded-pill text-white">
            <a href="{% url 'HealthHub:health_hub_article' %}">{{ article.title }}</a>
            <p>{{ article.topic }}</p>
            <img class="card-img-top" src=" {{ article.featured_image }}">
        </div>
    </div>
</div>
{% endfor %}
    

{% endblock content %}