{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Jumbotron -->
<div class="container mb-5">
<div class="container-fluid">
    <div class="row">
        <img src="https://res.cloudinary.com/dfhgdiphm/image/upload/v1661092600/Unsplash-_Brian_Erickson_-_Mountain_Running_pwlnks.jpg" class="img-fluid fade-in" alt="Man running along a mountain pass">
            <h1 class="display-5 fw-bold">Welcome to Your Health Now</h1>
            <p class="fs-4"> Read below for some helpful articles about the benefits of exercise, or sign up and track your weight and run stats!</p>
    </div>
</div>
<!-- Article section -->
{% for article in articles %}
<hr class="featurette-divider">
<div class="row featurette bg-white">
    <div class="col-md-7">
        <h2 class="featurette-heading">{{ article.title }}</h2>
        <p class="lead">{{ article.topic }}</p>
        <a href="article/{{ article.id }}" class="btn btn-primary my-4">Learn More</a>
    </div>
    <div class="col-md-5">
        <img class="card-img-top" src=" {{ article.featured_image.url }}" alt="Article Image">
    </div>
</div>
{% endfor %}
</div>
{% endblock content %}